.service-container {
  margin: 30px 0;
  > h1 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .service-middle-col {
    max-width: 500px;
    margin: 0 30px;
  }
  .service-item {
    max-width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    position: relative;
    .bold-text {
      font-weight: 600;
      font-size: 16px;
    }
    .right-text {
      text-align: right;
    }
  }
  .service-item-left {
    padding-right: 40px;
    .service-item-icon {
      position: absolute;
      right: -10%;
      top: 10%;
    }
  }
  .service-item-right {
    padding-left: 40px;
    .service-item-icon {
      position: absolute;
      left: -10%;
      top: 10%;
    }
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 14px;
  }
}

.deep-service-container {
  margin: 30px 0;
  > h1 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .image-list {
    padding: 0 25px;
    margin-top: 15px;
    display: flex;
    align-items: stretch;
    > div {
      height: 100%;
      > img {
        height: 100%;
      }
    }
    > div:first-child {
      height: auto;
    }
  }
}

.dental-know-container {
  margin: 30px 0;
  > h1 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .detal-know-list {
    display: flex;
    margin-top: 20px;
    .dental-know-item {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 15px;
      max-width: 350px;
      .header {
        padding: 10px;
        text-align: center;
        color: #fff;
        background: var(--main-icon-color);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .body {
        padding: 10px;
        .item {
          margin: 10px 0;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-size: 14px;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
